server {
    listen {{ app_port }};
    server_name _;

    root /var/www/html;
    index index.html;

    access_log /opt/{{ app_name }}/logs/access.log;
    error_log  /opt/{{ app_name }}/logs/error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location /health {
        return 200 'OK - {{ env }}';
        add_header Content-Type text/plain;
    }
}
